<ion-header>
  <ion-toolbar style="margin: 10px 0px">
    <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="filterCountries()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content style="max-height:300px;">

    <ion-list >
      <ion-item button *ngFor="let country of countries" (click)="select(country.name)" detail="false">
        <ion-label text-wrap>{{ country.name }}</ion-label>
        <ion-icon slot="end" name="checkmark" *ngIf="country.name == selectedCountry"></ion-icon>
      </ion-item>
    </ion-list>

</ion-content>

