<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'RECOVER_PASSWORD.TITLE' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h1 class="ion-text-center">{{ 'RECOVER_PASSWORD.TITLE' | translate }}</h1>
    <p class="ion-text-center">{{ 'RECOVER_PASSWORD.DESCRIPTION' | translate }}</p>

    <form [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()">
      <ion-item lines="full">
        <ion-label position="floating">{{ 'RECOVER_PASSWORD.EMAIL_LABEL' | translate }}</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="recoverPasswordForm.controls['email'].errors?.['required'] && recoverPasswordForm.controls['email'].touched">
        {{ 'RECOVER_PASSWORD.EMAIL_REQUIRED' | translate }}
      </ion-text>


      <ion-button type="submit" [disabled]="recoverPasswordForm.invalid || submitted">
        {{ 'RECOVER_PASSWORD.RECOVER_BUTTON' | translate }}
      </ion-button>
    </form>
  </div>
</ion-content>
